.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #b43a3a, #f59300, #88fc45, #ce45fc)
    47% 0%;
}
